<app-header titulo="Información personal"></app-header>


<ion-content>
    <div class="padding">
    <ion-item lines="none">
        <ion-label text-center color="primary">Nombre:</ion-label>
      </ion-item>
      <ion-card>
        <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-input type="text"
      placeholder="Ingrese su nombre"
       required></ion-input>
      </ion-item> 
      </ion-card>
      
      <ion-item lines="none">
        <ion-label text-center color="primary">Apellido Paterno:</ion-label>
      </ion-item>
      <ion-card>
      <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-input type="text"
       placeholder="Ingrese su apellido paterno"
       required></ion-input>
      </ion-item>
      </ion-card>
        
      <ion-item lines="none">
        <ion-label text-center color="primary">Apellido Materno:</ion-label>
      </ion-item>
      <ion-card>
        <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-input type="text"
      placeholder="Ingrese su apellido materno"
       required></ion-input>
      </ion-item> 
      </ion-card>
      
      <ion-item lines="none">
        <ion-label text-center color="primary">Curp:</ion-label>
      </ion-item>
      <ion-card>
        <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-input type="text"
      placeholder="Ingrese su curp"
       required></ion-input>
      </ion-item> 
      </ion-card>

      <ion-item lines="none">
        <ion-label text-center color="primary">Edad:</ion-label>
      </ion-item>
      <ion-card>
        <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-input type="text"
      placeholder="Ingrese su edad"
       required></ion-input>
      </ion-item> 
      </ion-card>
      
      <ion-item lines="none">
        <ion-label text-center color="primary">Teléfono</ion-label>
      </ion-item>
      <ion-card>
      <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-input type="text"
       placeholder="Ingrese su teléfono"
       required></ion-input>
      </ion-item>
      </ion-card>
        
      <ion-item lines="none">
        <ion-label text-center color="primary">Teléfono celular:</ion-label>
      </ion-item>
      <ion-card>
        <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-input type="text"
      placeholder="Ingrese su número  telefonico a 10 digitos"
       required></ion-input>
      </ion-item> 
      </ion-card>
      
      <ion-item lines="none">
        <ion-label text-center color="primary">Seleccione el hospital al que pertenece:</ion-label>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-label>Hospital</ion-label>
          <ion-select placeholder="Seleccione uno">
            <ion-select-option value="f">Covadonga</ion-select-option>
            <ion-select-option value="m">Huerta</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <br>
      <br>
    
      <div class="boton">
        <ion-button color="button" shape="round" fill="outline" expand="full" type="submit" routerLink="/perfil-usuario" >Guardar</ion-button>
        </div>

        <br>
        <br>

    </div>
</ion-content>
