<app-header titulo="Agregar Nota"></app-header>


<ion-content>
  <div class="padding">
  <ion-card color="primary" >
    <ion-item>
      <ion-icon></ion-icon>
      <ion-label >Agregar nota</ion-label>
      <div class="boton">
        <ion-button color="secondary" shape="round" fill="outline" expand="full" type="submit" color="primary">Guardar</ion-button>
     </div>
    </ion-item>
    <ion-card>
      <div class="fecha">
        <ion-item>
          <ion-label  position="floating">DD/MM/AA</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" min="1994-03-14" max="2012-12-09">
          </ion-datetime>
        </ion-item>
      </div>
      <ion-item>
        <ion-card-title></ion-card-title>
      <ion-label position="floating"></ion-label>
      <ion-input type="text"
    placeholder=""
     required></ion-input>
    </ion-item> 
    </ion-card> 
  </ion-card>
  
  </div>

</ion-content>
