<app-header titulo="Oxigenación Sanguinea"></app-header>

<ion-content class="ion-padding">

  <ion-card color ="primary">
  
    <ion-item color="primary" lines="none">
      <ion-label>Oxigenación sanguinea</ion-label>
    </ion-item>
    <ion-card>
      <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input type="text"
    placeholder="Ingrese la presión matutina"
     required></ion-input>
    </ion-item> 
    </ion-card>
  
    <ion-item color="primary" lines="none">
      <ion-label>Ritmo cardicaco :</ion-label>
    </ion-item>
    <ion-card>
      <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input type="text"
    placeholder="Ingrese la presión nocturna"
     required></ion-input>
    </ion-item> 
    </ion-card>
  
    <br>
    <br>
    <br>
  
   <!--routerLink="/registro2" redireccionar a otra pagina-->
  
   <div class="boton">
      <ion-button color="secondary" shape="round" fill="outline" expand="full" type="submit">
        <ion-icon name="save-sharp"></ion-icon>
      </ion-button>
   </div>
  
  
  
    
  </ion-card>
  
  <ion-card color="primary"> 
   <!-- Default Searchbar -->
  <ion-searchbar ></ion-searchbar>

  <ion-card >
  <ion-card-content>
    <ion-item >
     <!-- <ion-icon name="wifi" slot="start"></ion-icon>-->
      <ion-label>Oxigenación sanguinea: 80%</ion-label>
      <ion-icon name="create-sharp"></ion-icon>
      <ion-icon name="trash-sharp"></ion-icon>
    </ion-item>
   <ion-item>
     <!--<ion-icon name="wifi" slot="start"></ion-icon>-->
      <ion-label>Ritmo cardiaco: 60 L/min</ion-label>
      <ion-icon name="create-sharp"></ion-icon>
      <ion-icon name="trash-sharp"></ion-icon>
    </ion-item>
  </ion-card-content>
  </ion-card>

  <ion-card >
    <ion-card-content>
      <ion-item >
       <!-- <ion-icon name="wifi" slot="start"></ion-icon>-->
        <ion-label>Oxigenación sanguinea: 80%</ion-label>
        <ion-icon name="create-sharp"></ion-icon>
      <ion-icon name="trash-sharp"></ion-icon>
      </ion-item>
     <ion-item>
       <!--<ion-icon name="wifi" slot="start"></ion-icon>-->
        <ion-label>Ritmo cardiaco: 60 L/min</ion-label>
        <ion-icon name="create-sharp"></ion-icon>
        <ion-icon name="trash-sharp"></ion-icon>
      </ion-item>
    </ion-card-content>
    </ion-card>
  
    <ion-card >
      <ion-card-content>
        <ion-item >
         <!-- <ion-icon name="wifi" slot="start"></ion-icon>-->
          <ion-label>Oxigenación sanguinea: 80%</ion-label>
          <ion-icon name="create-sharp"></ion-icon>
          <ion-icon name="trash-sharp"></ion-icon>
        </ion-item>
       <ion-item>
         <!--<ion-icon name="wifi" slot="start"></ion-icon>-->
          <ion-label>Ritmo cardiaco: 60 L/min</ion-label>
          <ion-icon name="create-sharp"></ion-icon>
          <ion-icon name="trash-sharp"></ion-icon>
        </ion-item>
      </ion-card-content>
      </ion-card>

      <ion-card >
        <ion-card-content>
          <ion-item >
           <!-- <ion-icon name="wifi" slot="start"></ion-icon>-->
            <ion-label>Oxigenación sanguinea: 80%</ion-label>
            <ion-icon name="create-sharp"></ion-icon>
            <ion-icon name="trash-sharp"></ion-icon>
          </ion-item>
         <ion-item>
           <!--<ion-icon name="wifi" slot="start"></ion-icon>-->
            <ion-label>Ritmo cardiaco: 60 L/min</ion-label>
            <ion-icon name="create-sharp"></ion-icon>
            <ion-icon name="trash-sharp"></ion-icon>
          </ion-item>
        </ion-card-content>
        </ion-card>
  
  
  </ion-card>
  </ion-content>
  