<ion-content>
  
  <div class="logo">
<!--ion-icon color="dark" name="water"></!--ion-icon>-->
<img src="../../assets/icon/user.png">
  </div>

  <form>
<div class="padding">
  
<ion-item lines="none">
  <ion-label text-center color="primary">Correo:</ion-label>
</ion-item>

<ion-card>
  <ion-item>
  <ion-label position="floating"></ion-label>
  <ion-input type="text"
 name="email"
 parttern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
 placeholder="Ingrese su email"
 required></ion-input>
</ion-item> 
</ion-card>

<ion-item lines="none">
  <ion-label text-center color="primary">Contraseña:</ion-label>
</ion-item>

<ion-card>
<ion-item>
  <ion-label position="floating"></ion-label>
  <ion-input type="password"
 name="password"
 maxlength=8
 placeholder="Ingrese su contraseña"
 required></ion-input>
</ion-item>
</ion-card>

<ion-item lines="none">
  <ion-label text-center color="primary">Confirmar contraseña:</ion-label>
</ion-item>

<ion-card>
<ion-item>
  <ion-label position="floating"></ion-label>
  <ion-input type="password"
 name="password"
 maxlength=8
 placeholder="Confirme su contraseña"
 required></ion-input>
</ion-item>
</ion-card>
  
<br>
<div class="boton">
<ion-button color="button" shape="round" fill="outline" expand="full" type="submit" routerLink="/inicio">Registrarse</ion-button>
</div>
<br>

</div>
  </form>
  
  
  </ion-content>
  