<ion-content>
  
  <div class="logo">
<!--ion-icon color="dark" name="water"></!--ion-icon>-->
<img src="../../assets/icon/user.png">
  </div>

  <form>
<div class="padding">
  
<ion-item lines="none">
  <ion-label text-center color="primary">Nombre:</ion-label>
</ion-item>
<ion-card>
  <ion-item>
  <ion-label position="floating"></ion-label>
  <ion-input type="text"
placeholder="Ingrese su nombre"
 required></ion-input>
</ion-item> 
</ion-card>

<ion-item lines="none">
  <ion-label text-center color="primary">Apellido Paterno:</ion-label>
</ion-item>
<ion-card>
<ion-item>
  <ion-label position="floating"></ion-label>
  <ion-input type="text"
 placeholder="Ingrese su apellido paterno"
 required></ion-input>
</ion-item>
</ion-card>
  
<ion-item lines="none">
  <ion-label text-center color="primary">Apellido Materno:</ion-label>
</ion-item>
<ion-card>
  <ion-item>
  <ion-label position="floating"></ion-label>
  <ion-input type="text"
placeholder="Ingrese su apellido materno"
 required></ion-input>
</ion-item> 
</ion-card>

<ion-item lines="none">
  <ion-label text-center color="primary">Curp:</ion-label>
</ion-item>
<ion-card>
  <ion-item>
  <ion-label position="floating"></ion-label>
  <ion-input type="text"
placeholder="Ingrese su curp"
 required></ion-input>
</ion-item> 
</ion-card>



<div class="boton">
<ion-button color="button" shape="round" fill="outline" expand="full" type="submit" routerLink="/registro2" >Siguiente</ion-button>
</div>

</div>
  </form>
  </ion-content>