<app-header titulo="Cambio de contraseña"></app-header>

<ion-content>
  <div class="logo">
    <!--ion-icon color="dark" name="water"></!--ion-icon>-->
    <img src="../../assets/icon/user.png">
      </div>

  <div class="padding">

  <ion-item lines="none">
    <ion-label text-center color="primary">Contraseña actual:</ion-label>
  </ion-item>
  <ion-card>
    <ion-item>
    <ion-label position="floating"></ion-label>
    <ion-input type="text"
  placeholder="Ingrese su contraseña actual"
   required></ion-input>
  </ion-item> 
  </ion-card>
  
  <ion-item lines="none">
    <ion-label text-center color="primary">Contraseña nueva:</ion-label>
  </ion-item>
  <ion-card>
  <ion-item>
    <ion-label position="floating"></ion-label>
    <ion-input type="text"
   placeholder="Ingrese su nueva contraseña"
   required></ion-input>
  </ion-item>
  </ion-card>
    
  <ion-item lines="none">
    <ion-label text-center color="primary">Confirme su nueva contraseña:</ion-label>
  </ion-item>
  <ion-card>
    <ion-item>
    <ion-label position="floating"></ion-label>
    <ion-input type="text"
  placeholder="Conformar contraseña"
   required></ion-input>
  </ion-item> 
  </ion-card>

  <div class="boton">
    <ion-button color="button" shape="round" fill="outline" expand="full" type="submit" routerLink="/perfil-usuario" >Guardar</ion-button>
  </div>
  </div>

</ion-content>
