.padding {
    padding: 5%;
}

.logo {
    height: 150px;
    position: relative;
}
.logo img {
    position: absolute;
    height: 75px;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.boton{
    position: absolute;
    height: 80px;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);

}