<ion-header translucent>
      <ion-toolbar color="primary">
        <ion-buttons slot="end">
        <ion-back-button defaultHref="/tabs/inicio" text="Regresar" icon="arrow-undo-circle-sharp"> </ion-back-button>
        </ion-buttons>
        <ion-title>{{titulo}}</ion-title>
      </ion-toolbar>
    </ion-header>
