<app-header titulo="Historial médico"></app-header>

<ion-content>
    <div class="padding">

        <ion-card color="primary">
            <ion-card-content>
                <img src="../../assets/icon/expediente.png">
            </ion-card-content>
        </ion-card>

    </div>
</ion-content>
