<ion-content>
  
  <div class="logo">
<!--ion-icon color="dark" name="water"></!--ion-icon>-->
<img src="../../assets/icon/user.png">
  </div>

  <form>
<div class="padding">
  
<ion-item lines="none">
  <ion-label text-center color="primary">Edad:</ion-label>
</ion-item>
<ion-card>
  <ion-item>
  <ion-label position="floating"></ion-label>
  <ion-input type="text"
placeholder="Ingrese su edad"
 required></ion-input>
</ion-item> 
</ion-card>

<ion-item lines="none">
  <ion-label text-center color="primary">Teléfono</ion-label>
</ion-item>
<ion-card>
<ion-item>
  <ion-label position="floating"></ion-label>
  <ion-input type="text"
 placeholder="Ingrese su teléfono"
 required></ion-input>
</ion-item>
</ion-card>
  
<ion-item lines="none">
  <ion-label text-center color="primary">Teléfono celular:</ion-label>
</ion-item>
<ion-card>
  <ion-item>
  <ion-label position="floating"></ion-label>
  <ion-input type="text"
placeholder="Ingrese su número  telefonico a 10 digitos"
 required></ion-input>
</ion-item> 
</ion-card>

<ion-item lines="none">
  <ion-label text-center color="primary">Seleccione el hospital al que pertenece:</ion-label>
</ion-item>
<ion-list>
  <ion-item>
    <ion-label>Hospital</ion-label>
    <ion-select placeholder="Seleccione uno">
      <ion-select-option value="f">Covadonga</ion-select-option>
      <ion-select-option value="m">Huerta</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<div class="boton">
<ion-button color="button" shape="round" fill="outline" expand="full" type="submit" routerLink="/registro4" >Siguiente</ion-button>
</div>

</div>
  </form>
  </ion-content>

