<ion-content>
  
  <div class="logo">
<!--ion-icon color="dark" name="water"></!--ion-icon>-->
<img src="../../assets/icon/user.png">
  </div>

  <form>
<div class="padding">
  
<ion-item lines="none">
  <ion-label text-center color="primary">Municipio:</ion-label>
</ion-item>
<ion-card>
  <ion-item>
  <ion-label position="floating"></ion-label>
  <ion-input type="text"
placeholder="Ingrese su municipio"
 required></ion-input>
</ion-item> 
</ion-card>
  
<ion-item lines="none">
  <ion-label text-center color="primary">Localidad::</ion-label>
</ion-item>
<ion-card>
  <ion-item>
  <ion-label position="floating"></ion-label>
  <ion-input type="text"
placeholder="Ingrese su localidad"
 required></ion-input>
</ion-item> 
</ion-card>

<ion-item lines="none">
  <ion-label text-center color="primary">Colonia:</ion-label>
</ion-item>
<ion-card>
  <ion-item>
  <ion-label position="floating"></ion-label>
  <ion-input type="text"
placeholder="Ingrese su colonia"
 required></ion-input>
</ion-item> 
</ion-card>

<ion-item lines="none">
  <ion-label text-center color="primary">Código postal:</ion-label>
</ion-item>
<ion-card>
  <ion-item>
  <ion-label position="floating"></ion-label>
  <ion-input type="text"
placeholder="Ingrese su código postal"
 required></ion-input>
</ion-item> 
</ion-card>

<div class="boton">
  <ion-button color="button" shape="round" fill="outline" expand="full" type="submit" routerLink="/registro3" >Siguiente</ion-button>
  </div>