ion-content {
    --ion-background-color: white;
}
ion-item {
    --ion-backgroud-color:transparent!important;
}
.padding {
    padding: 5%;
}
.logo {
    height: 90px;
    position: relative;
}
.logo img {
    position: absolute;
    height: 65px;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.boton {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 310px;
}