<ion-content>
  
  <div class="logo">
<!--ion-icon color="dark" name="water"></!--ion-icon>-->
<img src="../../assets/icon/user.png">
  </div>

  <form>
<div class="padding">
  
<ion-item lines="none">
  <ion-label text-center color="primary">Correo:</ion-label>
</ion-item>
<ion-card>
  <ion-item>
  <ion-label position="floating"></ion-label>
  <ion-input type="text"
placeholder="Ingrese su correo"
 required></ion-input>
</ion-item> 
</ion-card>

<ion-item lines="none">
  <ion-label text-center color="secundary">Al ingresar su correo se le enviará un link de <br> recuperación con el cual podra crear una <br> contraseña nueva. <br>
    Por favor, revise su bandeja de entrada</ion-label>
</ion-item>



<div class="boton">
<ion-button color="button" shape="round" fill="outline" expand="full" type="submit" routerLink="/login" >Enviar</ion-button>
</div>

</div>
  </form>
  </ion-content>