<ion-content>
  
  <div class="logo">
<!--ion-icon color="dark" name="water"></!--ion-icon>-->
<img src="../../assets/icon/user.png">
  </div>

<form #formulario="ngForm" (ngSubmit)="login(formulario);">
<div class="padding">
  
<ion-item lines="none">
  <ion-label text-center color="primary">Usuario:</ion-label>
</ion-item>

<ion-card>
  <ion-item>
  <ion-label position="floating"></ion-label>
  <ion-input type="text"
 [(ngModel)]="auth.email"
  name="email"
 parttern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
 placeholder="Ingrese su email"
 required></ion-input>
</ion-item> 
</ion-card>

<ion-item lines="none">
  <ion-label text-center color="primary">Contraseña:</ion-label>
</ion-item>

<ion-card>
<ion-item>
  <ion-label position="floating"></ion-label>
  <ion-input type="password"
  [(ngModel)]="auth.password"
  name="password"
 maxlength=9
 placeholder="Ingrese su contraseña"
 required></ion-input>
</ion-item>
</ion-card>

<div class="casilla">
<ion-checkbox checked="true"></ion-checkbox>
</div>

<div class="texto1">
<ion-item lines="none">
  <ion-label text-center color="secundary">¿Recordar contraseña?</ion-label>
</ion-item>
</div>

<div class="texto2">
  <ion-item lines="none">
    <ion-label text-center onclick="true" routerLink="/recon" color="primary">¿Olvidaste tu contraseña?</ion-label>
  </ion-item>
  </div>

<div class="boton">
<ion-button color="button" shape="round" fill="outline" expand="full" type="submit" routerLink="/tabs">Iniciar Sesión</ion-button>
</div>

<div class="texto">
<ion-item text-center lines="none">
  <ion-label color="primary" onclick="true" routerLink="/registro1">¿No tienes una cuenta? Registrate aquí.</ion-label>
</ion-item>
</div>
<div class="texto3">
  <ion-item text-center lines="none">
    <ion-label color="secundary">O puedes continuar con:</ion-label>
  </ion-item>
  </div>

  <div class="google">
    <!--ion-icon color="dark" name="water"></!--ion-icon>-->
    <ion-button (click)="signInWithGoogle()">google</ion-button>
  </div>

      <div class="facebook">
        <!--ion-icon color="dark" name="water"></!--ion-icon>-->
        <ion-button (click)="signInWithFB()">facebook</ion-button>
      </div>


</div>
  </form>
  
  
  </ion-content>
  