ion-content {
    --ion-background-color: rgb(223, 224, 247);
}
ion-item {
    --ion-backgroud-color:transparent!important;
}
.padding {
    padding: 5%;
}
.logo {
    height: 130px;
    position: relative;
}
.logo img {
    position: absolute;
    height: 75px;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.texto{
    position: absolute;
    height: 120px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.casilla {
    position: absolute;
    height: 120px;
    top: 61%;
    left: 23%;
    transform: translate(-50%, -50%);
}

.texto1{
    position: absolute;
    height: 120px;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.texto2{
    position: absolute;
    height: 120px;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.texto3{
    position: absolute;
    height: 120px;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.boton{
    position: absolute;
    height: 120px;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.google {
    position: absolute;
    height: 25px;
    top: 87%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.facebook {
    position: absolute;
    height: 25px;
    top: 87%;
    left: 70%;
    transform: translate(-50%, -50%);
}