<app-header titulo="Dieta"></app-header>

<ion-content>
  <div class="padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngFor="let dietas of dietas; let i = index">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Sigue esta dieta durante todo un mes hasta tu nueva cita.
      </ion-card-title>
    </ion-card-header>
    

    <ion-card-content>
     {{dietas.observer}}
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>
