<app-header titulo="Historial médico"></app-header>


<ion-content>
  <div class="padding">
  
    <ion-card color ="primary">
  
    <ion-card >
      <ion-card-content>
        <ion-item >
         <!-- <ion-icon name="wifi" slot="start"></ion-icon>-->
          <ion-label>Expediente. Fecha: 01/03/2020</ion-label>
        </ion-item>
       <ion-item>
         <!--<ion-icon name="wifi" slot="start"></ion-icon>-->
          <ion-label> 
            <ion-tab-bar slot="bottom">
    
              <ion-tab-button tab="ver">
                <ion-icon name="eye-sharp"></ion-icon>
                <ion-label>Ver</ion-label>
              </ion-tab-button>
        
              <ion-tab-button tab="descargar">
                <ion-icon name="cloud-download-sharp"></ion-icon>
                <ion-label>Descargar</ion-label>
              </ion-tab-button>
            </ion-tab-bar>
          </ion-label>
        </ion-item>
      </ion-card-content>
      </ion-card>  
  
      <ion-card >
        <ion-card-content>
          <ion-item >
           <!-- <ion-icon name="wifi" slot="start"></ion-icon>-->
            <ion-label>Expediente. Fecha: 02/04/2020</ion-label>
          </ion-item>
         <ion-item>
          <ion-label> 
            <ion-tab-bar slot="bottom">
    
              <ion-tab-button tab="ver">
                <ion-icon name="eye-sharp"></ion-icon>
                <ion-label>Ver</ion-label>
              </ion-tab-button>
        
              <ion-tab-button tab="descargar">
                <ion-icon name="cloud-download-sharp"></ion-icon>
                <ion-label>Descargar</ion-label>
              </ion-tab-button>
            </ion-tab-bar>
          </ion-label>
          </ion-item>
        </ion-card-content>
        </ion-card>
  
        <ion-card >
          <ion-card-content>
            <ion-item >
             <!-- <ion-icon name="wifi" slot="start"></ion-icon>-->
              <ion-label>Expediente. Fecha: 02/04/2020</ion-label>
            </ion-item>
           <ion-item>
            <ion-label> 
              <ion-tab-bar slot="bottom">
      
                <ion-tab-button tab="ver">
                  <ion-icon name="eye-sharp"></ion-icon>
                  <ion-label>Ver</ion-label>
                </ion-tab-button>
          
                <ion-tab-button tab="descargar">
                  <ion-icon name="cloud-download-sharp"></ion-icon>
                  <ion-label>Descargar</ion-label>
                </ion-tab-button>
              </ion-tab-bar>
            </ion-label>
            </ion-item>
          </ion-card-content>
          </ion-card>
    </ion-card>
    
  </div>
  
  <div class="texto">
  <ion-item lines="none">
    <ion-label text-center color="primary">Mostar más</ion-label>
  </ion-item>
  </div>
  </ion-content>
  
  
  
  