<app-header titulo="Dirección"></app-header>


<ion-content>
    <div class="padding">

        <ion-item lines="none">
            <ion-label text-center color="primary">Calle:</ion-label>
          </ion-item>
          <ion-card>
            <ion-item>
            <ion-label position="floating"></ion-label>
            <ion-input type="text"
          placeholder="Ingrese su calle"
           required></ion-input>
          </ion-item> 
          </ion-card>

          <ion-item lines="none">
            <ion-label text-center color="primary">Número exterior:</ion-label>
          </ion-item>
          <ion-card>
          <ion-item>
            <ion-label position="floating"></ion-label>
            <ion-input type="text"
           placeholder="Ingrese el número exterior"
           required></ion-input>
          </ion-item>
          </ion-card>

          <ion-item lines="none">
            <ion-label text-center color="primary">Número interior:</ion-label>
          </ion-item>
          <ion-card>
            <ion-item>
            <ion-label position="floating"></ion-label>
            <ion-input type="text"
          placeholder="Ingrese el número interior"
           required></ion-input>
          </ion-item> 
          </ion-card>

          <ion-item lines="none">
            <ion-label text-center color="primary">Estado:</ion-label>
          </ion-item>
          <ion-card>
            <ion-item>
            <ion-label position="floating"></ion-label>
            <ion-input type="text"
          placeholder="Ingrese su Estado"
           required></ion-input>
          </ion-item> 
          </ion-card>

        <ion-item lines="none">
            <ion-label text-center color="primary">Municipio:</ion-label>
          </ion-item>
          <ion-card>
            <ion-item>
            <ion-label position="floating"></ion-label>
            <ion-input type="text"
          placeholder="Ingrese su municipio"
           required></ion-input>
          </ion-item> 
          </ion-card>
          
          <ion-item lines="none">
            <ion-label text-center color="primary">Localidad::</ion-label>
          </ion-item>
          <ion-card>
            <ion-item>
            <ion-label position="floating"></ion-label>
            <ion-input type="text"
          placeholder="Ingrese su localidad"
           required></ion-input>
          </ion-item> 
          </ion-card>

          <ion-item lines="none">
            <ion-label text-center color="primary">Colonia:</ion-label>
          </ion-item>
          <ion-card>
            <ion-item>
            <ion-label position="floating"></ion-label>
            <ion-input type="text"
          placeholder="Ingrese su colonia"
           required></ion-input>
          </ion-item> 
          </ion-card>

          <ion-item lines="none">
            <ion-label text-center color="primary">Código postal:</ion-label>
          </ion-item>
          <ion-card>
            <ion-item>
            <ion-label position="floating"></ion-label>
            <ion-input type="text"
          placeholder="Ingrese su código postal"
           required></ion-input>
          </ion-item> 
          </ion-card>

          <br>
          <br>
          <div class="boton">
            <ion-button color="button" shape="round" fill="outline" expand="full" type="submit" routerLink="/perfil-usuario" >Guardar</ion-button>
            </div>
            <br>
            <br>
          


    
    </div> 
</ion-content>
