<ion-content>
  
  <div class="logo">
<!--ion-icon color="dark" name="water"></!--ion-icon>-->
<img src="../../assets/icon/user.png">
  </div>

  <form>
<div class="padding">
  
<ion-item lines="none">
  <ion-label text-center color="primary">Calle:</ion-label>
</ion-item>
<ion-card>
  <ion-item>
  <ion-label position="floating"></ion-label>
  <ion-input type="text"
placeholder="Ingrese su calle"
 required></ion-input>
</ion-item> 
</ion-card>

<ion-item lines="none">
  <ion-label text-center color="primary">Número exterior:</ion-label>
</ion-item>
<ion-card>
<ion-item>
  <ion-label position="floating"></ion-label>
  <ion-input type="text"
 placeholder="Ingrese el número exterior"
 required></ion-input>
</ion-item>
</ion-card>
  
<ion-item lines="none">
  <ion-label text-center color="primary">Número interior:</ion-label>
</ion-item>
<ion-card>
  <ion-item>
  <ion-label position="floating"></ion-label>
  <ion-input type="text"
placeholder="Ingrese el número interior"
 required></ion-input>
</ion-item> 
</ion-card>

<ion-item lines="none">
  <ion-label text-center color="primary">Estado:</ion-label>
</ion-item>
<ion-card>
  <ion-item>
  <ion-label position="floating"></ion-label>
  <ion-input type="text"
placeholder="Ingrese su Estado"
 required></ion-input>
</ion-item> 
</ion-card>

<div class="boton">
  <ion-button color="button" shape="round" fill="outline" expand="full" type="submit" routerLink="/registro5" >Siguiente</ion-button>
  </div>

<div class="boton2">
<ion-button color="button" shape="round" fill="outline" expand="full" type="submit" routerLink="/registro3" >Omitir</ion-button>
</div>

</div>
  </form>
  </ion-content>